/* Переменные для светлой темы */
:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff117;
  --main-text-color: #353430;
  --nav-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
}

/* Фоновое изображение для светлой темы */
.theme-light .site-container {
  background-image: url('../images/cover-image-light.png');
}

/* Скрываем индикатор записи в светлой теме */
.theme-light .top-block__indicator {
  display: none;
}

/* Активная кнопка в светлой теме */
.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme-light .header__theme-menu-button:hover {
  --nav-hover-color: rgb(50 49 45 / 0.4);
}

/* Автоматическая светлая тема по системным настройкам */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #ffffff;
    --main-text-color: #353430;
    --nav-color: #353430;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
  }

  .site-container {
    background-image: url('../images/cover-image-light.png');
  }

  .top-block__indicator {
    display: none;
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--nav-color);
  }

  .header__theme-menu-button:hover {
    --nav-hover-color: rgb(50 49 45 / 0.4);
  }
}
